<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="nav">
    <ion-title> Bienvenido al chat  {{ actualUser }} </ion-title>
      <ion-avatar>
        <img src="{{ actualPhoto }}" />
      </ion-avatar>

    <ion-img 
      src="assets/icon/icons8-logout-48.png"
      class="iconshead"
      (click)="outGoogle()">
    </ion-img>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>

    <app-message></app-message>

</ion-content>

<ion-footer>
  <div class="footer">
      <!-- <ion-label position="floating">Mensaje</ion-label> -->
      <ion-input placeholder="Escribe el mensaje" required [(ngModel)]="msgSend" id="message"></ion-input>
    <!-- <ion-button (click)="addMessage()" >Enviar</ion-button> -->
    <ion-img 
    src="assets/icon/enviar.png"
    class="iconsend"
    (click)="addMessage()">
    </ion-img>
  </div>
</ion-footer>
