<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="nav">
    <ion-title> Bienvenido al chat </ion-title>
    <img
      src="assets/icon/icons8-logout-48.png"
      class="iconshead"
      (click)="outGoogle()"
    />
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <app-message></app-message>

  </div>
</ion-content>

<ion-footer>
  <div class="footer">

    <div>
      <label for="message"> Mensaje: </label>
      <input [(ngModel)]="msgSend" id="message" />
    </div>

    <ion-button (click)="addMessage()">Enviar</ion-button>
  </div>
</ion-footer>
