<ion-content>
  <ion-infinite-scroll
    threshold="0px"
    position="top"
    (ionInfinite)="onIonInfinite()"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando mensajes ..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-grid class="content-chat">
    <ion-row class="row-chat" *ngFor="let msnChat of messages">
      <!-- <ion-avatar>
            <img src="{{ actualPhoto }}" />
          </ion-avatar> -->

      <ion-col
        [ngClass]="
          msnChat.user !== actualUser
            ? 'message other-message left'
            : 'message my-message right'
        "
      >
        <b>{{ msnChat.user }}</b
        ><br />
        <span>{{ msnChat.text }}</span>
        
        <div class="time" text-right><br />{{ msnChat.date | date: 'HH:mm' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>