.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    white-space: pre-wrap;
  }
  
  .my-message {
    background: var(--ion-color-tertiary);
    color: #fff;
  }
  
  .other-message {
    background: var(--ion-color-secondary);
    color: #fff;
  }
  
  .time {
    color: #dfdfdf;
    float: right;
    font-size: small;
  }
  
