.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    white-space: pre-wrap;
  }
  
  .my-message {
    background: linear-gradient(to right, rgb(243, 59, 93), 40%, rgb(237, 174, 226));
    color: #fff;
    float: right;
  }
  
  .other-message {
    background: linear-gradient(to right, rgb(59, 127, 243), 40%, rgb(117, 165, 247));
    color: #fff;
    float: left;
  }
  
  .time {
    color: white;
    float: right;
    font-size: small;
  }
  
  ion-list{
    // width: 40%;
    // float: right;
    margin: 0 1rem;
    padding: 0 2rem;
}

ion-row{
  
  
}